/* !- GERAL - INICIO -! */

body {
    font-family: 'Roobert-Light', 'Arial', cursive;
    background-color: #0e0e10;
    color: #fff;
}

a {
    color: #d80820;
    transition: all 0.4s ease-in;
}

a:hover {
    color: #f1384e;
    transition: all 0.2s ease-in;
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #151518;
}

::-webkit-scrollbar-thumb {
    background: #1f1f23;
    border: solid 1px #353538;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background: #1e1e22;
    border: solid 1px #383535;
    border-radius: 8px;
}

*::selection {
    background: #ef1f37;
    text-shadow: 1px 1px 1px #000;
    color: #fff;
}

*::-moz-selection {
    background: #ef1f37;
    text-shadow: 1px 1px 1px #000;
    color: #fff;
}


/* !- GERAL - FIM -! */


/* !- MENU - INICIO -! */

section.menu {
    margin-top: 2px;
}

nav.menu {
    background: #1f1f23;
    border-bottom: rgba(0, 0, 0, .30) solid 4px;
    padding: 0;
    min-height: 56px;
}

.menu .nav-item {
    padding: 10px 15px;
    transition: all 0.2s ease-in;
}

.menu .nav-item:hover {
    background: rgba(0, 0, 0, .2);
}

.menu .active .nav-link {
    color: #e91e3f;
}

.menu .active {
    background: rgba(0, 0, 0, .4);
}

.menu .nav-link {
    color: white;
    font-size: 0.80em;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}

.menu .navbar-toggler {
    color: white;
    font-size: 30px;
    margin: 10px 0px;
}

.menu img {
    margin-left: 30px;
    margin-right: 20px;
}


/* !- MENU - FIM -! */


/* !- FOOTER - INICIO -! */
footer {
    width: 100%;
    border-top: rgba(0, 0, 0, .30) solid 4px;
}
footer .social {
    background: #1f1f23;
    padding: 10px 15px;
}
footer .social p { 
    margin: 0; 
    text-align: right;
}
footer .social i {
    color: white;
    margin-right: 5px;
}
footer .copyright {
    background: #131315;
    padding: 15px;
    color: white;
    font-size: 12px;
}
footer .copyright span {
    float: right;
    font-size: 13px;
}
footer .copyright a {
    color: #d80820;
    text-decoration: underline;
    transition: all 0.3s ease-in;
}

footer .copyright a:hover {
    color: #f1384e;
    text-decoration: underline;
    transition: all 0.2s ease-in;
}

footer .copyright i.fas.fa-code {
    color: #fff;
    font-size: 11px;
    margin-left: 1px;
    margin-right: 1px;
}

footer .copyright i.far.fa-heart {
    color: #d80404;
    font-size: 11px;
    font-weight: 500;
    margin-left: 1px;
    margin-right: 1px;
    animation: pulse 1s infinite;
    transform: scale(1.1);
}

@keyframes pulse {
    10% {
        transform: scale(1.2);
        color: #fc4949;
    }
    11% {
        transform: scale(1.3);
        color: #ff2f2f;
    }
}

/* !- FOOTER - FIM -! */


/* !- CONTEUDO - INICIO -! */

.conteudo {
    background-color: #252529;
    padding: 30px 30px;
}

.conteudo .card {
    background: #161618;
    border-radius: 0;
    border: 3px #0c0c0e solid;
    margin-bottom: 40px;
}

.conteudo .card .titulo {
    padding: 8px 0px;
    text-align: center;
    border-bottom: 3px #0c0c0e solid;
    font-size: 18px;
}

.conteudo .card .infos {
    padding: 10px 10px;
    border-bottom: 2px #0c0c0e59 solid;
}

.conteudo .card .infos {
    padding: 10px 10px;
}

.conteudo .card .inf2 {
    margin-top: 5px;
}

.conteudo .card hr.hr1 {
    border: 0;
    height: 1px;
    border-bottom: #d80820 1px dotted;
}

.conteudo .card hr.hr2 {
    margin: 6px 5px 6px 5px;
    display: block;
    border: none;
    height: 1px;
    background: linear-gradient(to right, #d8082000, #f831483b, #d8082093, #f8314857, #d8082000);
}

.conteudo .card .footer {
    padding: 10px 10px;
    font-size: 12px;
}

.conteudo .card .footer a,
e {
    color: #d80404;
    font-weight: 600;
}


/* !- CONTEUDO - FIM -! */


/* !- CONTATO - INICIO -! */

.contato-pessoal {
    background: #161618;
    border-radius: 0;
    border: 3px #0c0c0e solid;
    margin-bottom: 40px;
    padding: 10px 10px;
}

.contato-pessoal a {
    color: #fff;
    transition: all 0.3s ease-in;
}

.contato-pessoal a:hover {
    color: #d80820;
    transition: all 0.2s ease-in;
}

.contato-form {
    background: #161618;
    border-radius: 0;
    border: 3px #0c0c0e solid;
    margin-bottom: 40px;
    padding: 10px 10px;
}

.contato-form label {
    color: #d80820;
    font-size: 15px;
    margin-left: -10px;
}

.contato-form input,
textarea {
    border-radius: 0px !important;
    outline: none;
    border: 2px solid #303035;
    padding: 10px 10px;
    box-sizing: border-box;
    font-weight: 500;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    background: #3a3a3d;
    margin-bottom: 10px;
    color: #b9b9b9;
    width: 100%;
}

.contato-form input:focus {
    background: #0e0e10;
    color: #b9b9b9 !important;
    border: 2px solid #d80820;
    font-weight: 500;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.contato-form input::placeholder {
    color: #b9b9b9;
    font-weight: 500;
    opacity: 1;
}

.contato-form input:focus::placeholder {
    color: #fff;
    opacity: 1;
}

.contato-form textarea:focus {
    background: #0e0e10;
    color: #b9b9b9 !important;
    border: 2px solid #d80820;
    font-weight: 500;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.contato-form textarea::placeholder {
    color: #b9b9b9;
    font-weight: 500;
    opacity: 1;
}

.contato-form textarea:focus::placeholder {
    color: #fff;
    opacity: 1;
}

.contato-form input[type=submit] {
    padding: 10px;
    text-transform: uppercase;
    font-size: 17px;
    color: #fff;
    background: #d80820;
    border: 0;
    cursor: pointer;
    margin-top: 30px;
    transition: all 0.5s ease-in;
}

.contato-form input[type=submit]:hover {
    color: #fff;
    background: #e40c25;
    border: 0;
    box-shadow: 0 0 6px 0 #d80820;
    transition: all 0.2s ease-in;
}


/* !- CONTATO - FIM -! */



/* !- PUBLICIDADE - INICIO -! */

.publi {
    margin-top: 45px;
    margin-bottom: 15px;
}

.publi .card {
    border: #1f1f23 3px solid;
    background-color: transparent;
    border-radius: 0;
    margin-bottom: 5px;
    max-width: 410px;
    max-height: 70px;
    opacity: 0.9;
}
.publi .card img {
    max-width: 390px;
    max-height: 40px;
    opacity: 0.1;
    transition: all 0.4s ease-in;
}
.publi .card img:hover {
    opacity: 0.8;
    transition: all 0.6s ease-in;
}


/* !- PUBLICIDADE - FIM -! */
/* !- FONTES - INICIO -! */

@font-face {
    font-family: Roobert-Bold;
    src: url('../font/RoobertTRIAL-Bold.otf');
}

@font-face {
    font-family: Roobert-Light;
    src: url('../font/RoobertTRIAL-Light.otf');
}

@font-face {
    font-family: Roobert-Medium;
    src: url('../font/RoobertTRIAL-Medium.otf');
}

@font-face {
    font-family: Roobert-Regular;
    src: url('../font/RoobertTRIAL-Regular.otf');
}

@font-face {
    font-family: Roobert-SemiBold;
    src: url('../font/RoobertTRIAL-SemiBold.otf');
}


/* !- FONTES - FIM -! */


/* !- ALERTAS - INICIO -! */

.alert>.start-icon {
    margin-right: 0;
    min-width: 20px;
    text-align: center;
}

.alert>.start-icon {
    margin-right: 5px;
}

.greencross {
    font-size: 18px;
    color: #25ff0b;
    text-shadow: none;
}

.alert-simple.alert-success {
    border: 1px solid rgba(36, 241, 6, 0.46);
    background-color: rgba(7, 149, 66, 0.12156862745098039);
    box-shadow: 0px 0px 2px #259c08;
    color: #0ad406;
    text-shadow: 2px 1px #00040a;
    transition: 0.5s;
    cursor: pointer;
}

.alert-success:hover {
    background-color: rgba(7, 149, 66, 0.35);
    transition: 0.5s;
}

.alert-simple.alert-info {
    border: 1px solid rgba(6, 44, 241, 0.46);
    background-color: rgba(7, 73, 149, 0.12156862745098039);
    box-shadow: 0px 0px 2px #0396ff;
    color: #0396ff;
    text-shadow: 2px 1px #00040a;
    transition: 0.5s;
    cursor: pointer;
}

.alert-info:hover {
    background-color: rgba(7, 73, 149, 0.35);
    transition: 0.5s;
}

.blue-cross {
    font-size: 18px;
    color: #0bd2ff;
    text-shadow: none;
}

.alert-simple.alert-warning {
    border: 1px solid rgba(241, 142, 6, 0.81);
    background-color: rgba(220, 128, 1, 0.16);
    box-shadow: 0px 0px 2px #ffb103;
    color: #ffb103;
    text-shadow: 2px 1px #00040a;
    transition: 0.5s;
    cursor: pointer;
}

.alert-warning:hover {
    background-color: rgba(220, 128, 1, 0.33);
    transition: 0.5s;
}

.warning {
    font-size: 18px;
    color: #ffb40b;
    text-shadow: none;
}

.alert-simple.alert-danger {
    border: 1px solid rgba(241, 6, 6, 0.81);
    background-color: rgba(220, 17, 1, 0.16);
    box-shadow: 0px 0px 2px #ff0303;
    color: #ff0303;
    text-shadow: 2px 1px #00040a;
    transition: 0.5s;
    cursor: pointer;
}

.alert-danger:hover {
    background-color: rgba(220, 17, 1, 0.33);
    transition: 0.5s;
}

.danger {
    font-size: 18px;
    color: #ff0303;
    text-shadow: none;
}

.alert-simple.alert-primary {
    border: 1px solid rgba(6, 241, 226, 0.81);
    background-color: rgba(1, 204, 220, 0.16);
    box-shadow: 0px 0px 2px #03fff5;
    color: #03d0ff;
    text-shadow: 2px 1px #00040a;
    transition: 0.5s;
    cursor: pointer;
}

.alert-primary:hover {
    background-color: rgba(1, 204, 220, 0.33);
    transition: 0.5s;
}

.alert:before {
    content: '';
    position: absolute;
    width: 0;
    height: calc(100% - 44px);
    border-left: 1px solid;
    border-right: 2px solid;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    height: 20px;
}


/**
 * ----------------------------------------
 * animation blink-1
 * ----------------------------------------
 */

@-webkit-keyframes blink-1 {
    0%,
    50%,
    100% {
        opacity: 1;
    }
    25%,
    75% {
        opacity: 0;
    }
}

@keyframes blink-1 {
    0%,
    50%,
    100% {
        opacity: 1;
    }
    25%,
    75% {
        opacity: 0;
    }
}


/* !- ALERTAS - FIM -! */